<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar ficha</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
    <header>

            <ul class="menu">
                <li><a href="/" class="brand"> <img src="/static/img/Logo sin fondo 2.png" alt=""></a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/estudiantes">Estudiantes</a></li>
                <li><a href="/add_estudiante">Agregar Estudiante</a></li>
                <li><a href="/table">Fichas</a></li>
                <li><a href="/cita">Citas</a></li>
                <li><a href="/add_ficha">Nueva Ficha</a></li>
                <li><a href="/add_cita">Nueva Cita</a></li>
                <li><a href="/informes_fichas">Informes</a></li>
                <li><a href="/add_informe">Nuevo Informe</a></li>
                {% if session.get('username') %}
                    <li><a href="/logout" class="logout-btn">Cerrar Sesión ({{ session['username'] }})</a></li>
                {% endif %}
            </ul>

</header>


        <form action="/edit/{{ficha.id}}" method="post">
            <input type="number" name="id_estudiante" id="id_estudiante" placeholder="ID de estudiante" required value="{{ficha.id_estudiante}}">

            <select name="grado" id="grado">
                <option  value="4°" {% if ficha.grado == '4°' %}selected{% endif %}>4°</option>
                <option  value="5°" {% if ficha.grado == '5°' %}selected{% endif %}>5°</option>
                <option  value="6°" {% if ficha.grado == '6°' %}selected{% endif %}>6°</option>
            </select>

            <select name="tecnica" id="tecnica" >
                <option value="Desarrollo y Administracion de Aplicaciones Informaticas"  {% if ficha.tecnica == 'Desarrollo y Administracion de Aplicaciones Informaticas' %}selected{% endif %}>Desarrollo y Administracion de Aplicaciones Informaticas</option>
                <option  value="Gestion Administrativa y Tributaria" {% if ficha.tecnica == 'Gestion Administrativa y Tributaria' %}selected{% endif %}>Gestion Administrativa y Tributaria</option>
                <option  value="Comercio y Mercadeo" {% if ficha.tecnica == 'Comercio y Mercadeo' %}selected{% endif %}>Comercio y Mercadeo</option>
                <option  value="Servicios Gastronomicos" {% if ficha.tecnica == 'Servicios Gastronomicos' %}selected{% endif %}>Servicios Gastronomicos</option>
                <option  value="Electronica" {% if ficha.tecnica == 'Electronica' %}selected{% endif %}>Electronica</option>
                <option  value="Electricidad" {% if ficha.tecnica == 'Electricidad' %}selected{% endif %}>Electricidad</option>
                <option  value="Refrigeracion y Acondicionamiento de aires" {% if ficha.tecnica == 'Refrigeracion y Acondicionamiento de aires' %}selected{% endif %}>Refrigeracion y Acondicionamiento de aires</option>
            </select>

        <input type="date" id="fecha" name="fecha" placeholder="Fecha" required value="{{ficha.fecha}}">

            <textarea name="descripcion" id="descripcion" placeholder="Descripción" required>{{ficha.descripcion}}</textarea>
            
            <input type="submit" value="Actualizar">
        </form>

</body>
</html>