<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style copy.css">
    <link rel="icon" type="image/png" href="/static/img/Logo c.png" />
    <title>SIGP</title>
</head>
<body>
    
<header>

            <ul class="menu">
                <li><a href="/" class="brand"> <img src="/static/img/Logo sin fondo 2.png" alt=""></a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/table">Fichas</a></li>
                <li><a href="/cita">Citas</a></li>
                <li><a href="/add_ficha">Nueva Ficha</a></li>
                <li><a href="/add_cita">Nueva Cita</a></li>
                {% if session.get('username') %}
                    <li><a href="/logout" class="logout-btn">Cerrar Sesión ({{ session['username'] }})</a></li>
                {% endif %}
            </ul>

</header>

<img src="/static/img/Banner de SIGP.png" alt="SIGP - Banner" width="100%">

<p class="desc">Esta aplicación le ayudará a sus usuarios a facilitar el trabajo de los informes, fichas, registros, agendar citas, etc. 
    Esto dentro del departamento de psicología. Al trabajar con todo esto no sera solo de ayuda para los empleados del departamento de psicología,
     si no que tambien ayudará a los alumnos que requieran ayuda de los miembros del departamento. </p>

<div class="banner">
    <div class="banner-content">
        <a href="#" class="banner-button">Leer más</a>
    </div>
</div>

<section class="usuarios">

    <h2>Gestión de Usuarios</h2>

    <div class="form-box">
        <form action="/create_user" method="POST">
            <input type="text" id="nombre" name="username" placeholder="Nombre" required>
            <input type="password" id="contrasena" name="password" placeholder="Contraseña" required>
            <button type="submit" id="btnRegistrar">Registrar</button>
        </form>
    </div>

    <table id="tablaUsuarios">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{dato.username}}</td>
                <td>{{dato.password}}</td>
                <td>
                    <a href="/edit/{{dato.id}}" class="btn btn-primary">Editar</a>
                    <a href="/delete/{{dato.id}}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>

</section>

</body>
</html>