<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fichas</title>
    <link rel="stylesheet" href="/static/CSS/style copy.css">
</head>
<body>

    <header>

            <ul class="menu">
                <li><a href="/" class="brand"> <img src="/static/img/Logo sin fondo 2.png" alt=""></a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/estudiantes">Estudiantes</a></li>
                <li><a href="/add_estudiante">Agregar Estudiante</a></li>
                <li><a href="/table">Fichas</a></li>
                <li><a href="/cita">Citas</a></li>
                <li><a href="/add_ficha">Nueva Ficha</a></li>
                <li><a href="/add_cita">Nueva Cita</a></li>
                <li><a href="/informes_fichas">Informes</a></li>
                <li><a href="/add_informe">Nuevo Informe</a></li>
                {% if session.get('username') %}
                    <li><a href="/logout" class="logout-btn">Cerrar Sesión ({{ session['username'] }})</a></li>
                {% endif %}
            </ul>

</header>


  <input type="text" id="buscador" onkeyup="filtrarTabla()" placeholder="Buscar por ID o Técnica...">






            <table class="table" border="1" style="border-collapse: collapse;">
  <thead>
    <tr style="background-color: aliceblue;">
      <th scope="col">ID</th>
      <th scope="col">ID de estudiante</th>
      <th scope="col">Grado</th>
      <th scope="col">Técnica</th>
      <th scope="col">Descripción</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>

  <tbody>
    {%for ficha in fichas%}
    <tr>
        <td>{{ficha.id}}</td>
        <td>{{ficha.id_estudiante}}</td>
        <td>{{ficha.grado}}</td>
        <td>{{ficha.tecnica}}</td>
        <td>{{ficha.descripcion}}</td>
        <td>{{ficha.fecha}}</td>
      <td>
        <a href="/edit/{{ficha.id}}">Editar</a>
        <a href="/delete/{{ficha.id}}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
 </tbody>
        </table>
        

        <script>
function filtrarTabla() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("buscador");
  filter = input.value.toUpperCase();
  table = document.querySelector(".table");
  tr = table.getElementsByTagName("tr");

  // Recorre todas las filas (menos el encabezado)
  for (i = 1; i < tr.length; i++) {
    tr[i].style.display = "none"; // Oculta la fila por defecto
    td = tr[i].getElementsByTagName("td");
    
    // Revisa cada celda de la fila
    for (var j = 0; j < td.length; j++) {
      if (td[j]) {
        txtValue = td[j].textContent || td[j].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = ""; // Si coincide, la muestra
          break;
        }
      }
    }
  }
}
</script>

</body>
</html>